@charset "utf-8";
:root {
    --primary-color: #FFCD83;
    --secondary-color: #D77B38;
    --nav-color: #FFEFCB;
    --font-color: #333;
    --bg-color: #fff;
}
body {
    font-family: "Noto Sans KR", "sans-self";
    color: #333;
    background: var(--primary-color);
}
/* ------------------------------------------------공용 */

.header-bg {
    background: var(--secondary-color);
}
.bg-b {
    background: #000;
}
.bg-w {
    background: var(--bg-color);
}
.font-w {
    color: var(--bg-color);
}
.bg-w {
    background: var(--bg-color);
}
.pos-r {
    position: relative;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.container {
    width: 1440px;
}
.margin-auto {
    margin: 0 auto;
}
.justify-between {
    justify-content: space-between
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.text-align {
    text-align: center;
}
.align-center {
    align-items: center;
}
.mt-1 {
    margin: 1rem 0;
}
.mt-2 {
    margin: 2rem 0;
}
.mt-3 {
    margin: 3rem 0;
}
.my-1 {
    margin: 0 1rem;
}
.my-2 {
    margin: 0 2rem;
}
.my-3 {
    margin: 0 3rem;
}
.pt-1 {
    padding: 1rem 0;
}
.pt-2 {
    padding: 2rem 0;
}
.pt-3 {
    padding: 3rem 0;
}
.py-1 {
    padding: 0 1rem;
}
.py-2 {
    padding: 0 2rem;
}
.py-3 {
    padding: 0 3rem;
}
/*---------------------------------------------- header */
.logo {
    position: absolute;
    top: 12px;
    z-index: 10;
}
/*---------------------------------------------- login_nav */
.login {
    font-size: 1.5rem;
    color: var(--bg-color);
}
.login_text p:nth-child(1) {
    border-right: 1px solid var(--bg-color) ;
    padding: 0 .5rem 0 0;
    margin: 0 .5rem 0 0;
}
.login_text p:nth-child(3) {
    margin: 0 1.5rem;
}
/*---------------------------------------------- nav */
.lnb {
    display: none;
}
.nav_bg {
    background: var(--nav-color);
    height: 72px;
}
.nav {
    width: 100%;
}
#gnb {
    line-height: 72px;
    font-size: 1.5rem;
}
#gnb li {
    text-align: center;
    width: 250px;
    box-sizing: border-box;
}
/*---------------------------------------------- carousel */
.carousel {
    width: 100%;
    height: 800px;
    background: url(../images/c-bg.png) no-repeat center;
    background-size: cover;
}
/*---------------------------------------------- second_nav */
.second_nav_bg {
    background: #000;
    width: 100%;
}
/*---------------------------------------------- news */
.news {
    box-sizing: border-box;
    padding: 1rem 0;
}
.news h1 {
    font-size: 3rem;
}
.news p {
    margin: 0 10rem;
    font-size: 2rem;
}
.news img {
    margin: 0 3rem 0 0;
}
.promotion_bg {
    background: var(--bg-color);
    width: 550px;
}
.promotion {
    height: 118px;
    line-height: 118px;
    box-sizing: border-box;
}
.promotion a {
    font-size: 3rem;
}
.promotion ul {
    position: absolute;
}
.sub_lnb {
    display: none;
}
/*---------------------------------------------- banner */
/*---------------------------------------------- membership */
/*---------------------------------------------- contents */
/*---------------------------------------------- contents_left */
/*---------------------------------------------- contents_items */
/*---------------------------------------------- second_banner */
/*---------------------------------------------- meal_kit */
/*---------------------------------------------- meal_kit_title */
/*---------------------------------------------- meal_kit_text */
/*---------------------------------------------- store_cheese */
/*---------------------------------------------- meal_kit_items */
/*---------------------------------------------- meal_kit_item */
/*---------------------------------------------- review */
/*---------------------------------------------- review_items */
/*---------------------------------------------- reiew_item */
/*---------------------------------------------- reiew_text */
/*---------------------------------------------- footer */
/*---------------------------------------------- copyright */
