@charset "utf-8";
:root {
  --primary-color: #ffcd83;
  --secondary-color: #d77b38;
  --nav-color: #ffefcb;
  --font-color: #333;
  --subfont-color: #797979;
  --bg-color: #fff;
  --reniew_color: #cd4628;
  --event-color: #db4343;
  --footerbg-color: #535353;
}
body {
  font-family: "Noto Sans KR", "sans-self";
  color: #333;
  background: var(--primary-color);
}
/* ------------------------------------------------공용 */
.header-bg {
  background: var(--secondary-color);
}
.flex-column {
  flex-direction: column;
};
.bg-b {
  background: #000;
}
.bg-w {
  background: var(--bg-color);
}
.font-w {
  color: var(--bg-color);
}
.bg-w {
  background: var(--bg-color);
}
.text-center {
  text-align: center;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.container {
  width: 1440px;
}
.margin-auto {
  margin: 0 auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.text-align {
  text-align: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.mt-1 {
  margin: 1rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.mt-3 {
  margin: 3rem 0;
}
.mtt-3 {
  margin: 3rem 0 0 0;
}
.my-1 {
  margin: 0 1rem;
}
.my-2 {
  margin: 0 2rem;
}
.my-3 {
  margin: 0 3rem;
}
.pt-1 {
  padding: 1rem 0;
}
.pt-2 {
  padding: 2rem 0;
}
.pt-3 {
  padding: 3rem 0;
}
.py-1 {
  padding: 0 1rem;
}
.py-2 {
  padding: 0 2rem;
}
.py-3 {
  padding: 0 3rem;
}
/*---------------------------------------------- header */
.logo {
  position: absolute;
  top: 12px;
  z-index: 10;
}
/*---------------------------------------------- login_nav */
.login {
  font-size: 1.5rem;
  color: var(--bg-color);
}
.login_text p:nth-child(1) {
  border-right: 1px solid var(--bg-color);
  padding: 0 0.5rem 0 0;
  margin: 0 0.5rem 0 0;
}
.login_text p:nth-child(3) {
  margin: 0 1.5rem;
}
/*---------------------------------------------- nav */
.lnb {
  /* display: none; */
  position: absolute;
  height: 0%;
  overflow: hidden;
  transition: all 300ms;
  z-index: 20;
}
.lnb.on {
  height: 400%;
}
.nav_bg {
  background: var(--nav-color);
  height: 72px;
  position: relative;
}
.nav_bg::after {
  content: '';
  background: var(--primary-color);
  width: 100%;
  height: 0;
  transition: all 300ms;
  position: absolute;
  z-index: 10;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .3);
  /* overflow: hidden; */
}
.nav::after {
  content: '';
  background: var(--primary-color);
  width: 100%;
  height: 0;
  transition: all 300ms;
  position: absolute;
  top: 0%;
  z-index: 10;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .3);
  /* overflow: hidden; */
}
.nav_bg.on::after {
  height: 288px;
}
.nav.on::after {
  height: 288px;
}
.nav {
  width: 100%;
}
#gnb {
  line-height: 72px;
  font-size: 1.5rem;
}
#gnb li {
  text-align: center;
  width: 250px;
  box-sizing: border-box;
}
#gnb a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/*---------------------------------------------- carousel */
.carousel {
  width: 100%;
  height: 800px;
  background: url(../images/c-bg.png) no-repeat center;
  background-size: cover;
}
/*---------------------------------------------- second_nav */
.second_nav_bg {
  background: #000;
  width: 100%;
}
/*---------------------------------------------- news */
.news {
  box-sizing: border-box;
  padding: 1rem 0;
}
.news h1 {
  font-size: 3rem;
}
.news p {
  margin: 0 10rem;
  font-size: 2rem;
}
.news img {
  margin: 0 3rem 0 0;
}
.promotion_bg {
  background: var(--bg-color);
  width: 550px;
}
.promotion {
  height: 118px;
  line-height: 118px;
  box-sizing: border-box;
}
.promotion a {
  font-size: 3rem;
}
.promotion ul {
  position: absolute;
}
.sub_lnb {
  display: none;
  z-index: 10;
}
.sub_lnb li {
  width: 550px;
  background: var(--bg-color);
}
.sub_lnb li a {
  padding: 0 0 0 1rem;
}
.lnb > li > a:hover {
  background: var(--nav-color);

}
/*---------------------------------------------- banner */
.banner_bg {
  background: var(--secondary-color);
  color: var(--bg-color);
  line-height: 1.5;
  padding: 1.5rem 0;
}
.promotion_login {
  width: 1100px;
}
.promotion_login {
  border-bottom: 1px solid var(--bg-color);
  padding: 0 0 1rem 0;
}
.promotion_login button {
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  color: var(--bg-color);
  font-size: 1.5rem;
  width: 155px;
  height: 55px;
  transition: all 200ms;
}
.promotion_login button:nth-child(1) {
  background: #000;
}
.promotion_login button:nth-child(2) {
  background: none;
}
.promotion_login button:hover {
  background: var(--bg-color);
  color: var(--font-color);
}
.promotion_login_btn {
  position: absolute;
  top: 30%;
  right: 0;
}
.promotion_login_text h2 {
  font-size: 2.5rem;
}
.promotion_login_text p {
  font-size: 1.5rem;
}
.promotion_login_text strong {
  font-weight: bold;
}
.membership {
  margin: 1rem 0;
}
.membership button {
  width: 280px;
  height: 55px;
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  color: var(--bg-color);
  font-size: 1.5rem;
  background: none;
  transition: all 200ms;
}
.membership button:hover {
  background: var(--bg-color);
  color: var(--font-color);
}
/*---------------------------------------------- contents */
.contents_left {
  margin: 2rem 0 0 0;
}
.contents_bg {
  background: url(../images/contents_bg.png) no-repeat left;
  background-position: 0% 120%;
}
.contents {
  height: 1300px;
}
.contents_left {
  width: 270px;
}
.contents_left h1 {
  font-size: 4rem;
  white-space: nowrap;
}
.contents_left_tab {
  margin: 15rem 0 0 0;
  transition: all 200ms;
}
.contents_left p {
  border-radius: 100px;
  width: 135px;
  font-size: 1.5rem;
  background: var(--secondary-color);
  color: var(--bg-color);
  text-align: center;
  margin: 2rem 0;
  padding: 0.5rem 0;
}
.contents_left_tab p:hover {
  background: var(--bg-color);
  color: var(--font-color);
}
.contents_left h1::after {
  content: "";
  display: block;
  width: 130px;
  padding: 0 0 3rem 0;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}
.contents_items {
  width: 1050px;
}
.item img {
  margin: 0 0 1rem 0;
}
.contents_items h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
.contents_items span {
  font-size: 1.25rem;
  color: var(--font-color);
}
.wen {
  margin: 1rem 0 0 0;
  display: flex;
  font-size: 1.5rem;
}

.wen p:nth-child(1) {
  color: var(--event-color);
}
.wen p:nth-child(3) {
  text-decoration: line-through;
  color: var(--subfont-color);
  margin: 0 0 0 1rem;
}
/*---------------------------------------------- second_banner */
/* .s_banner_big {
    height: 100vh;
} */
.s_banner_bg {
  background: var(--secondary-color);
  height: 18rem;
  color: var(--bg-color);
  /* position: absolute;
    width: 100vw;
    top: -15%; */
}
.second_banner {
  height: 100%;
}
.s_banner_text h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.s_banner_text p {
  font-size: 1.75rem;
  font-weight: 1;
}
.second_banner img {
  position: absolute;
  width: 970px;
  top: -100%;
  right: -20%;
}
/*---------------------------------------------- meal_kit */
.meal_kit_margin {
  margin: 8rem 0 0 0;
}
.meal_kit_text h2 {
  font-size: 4rem;
  font-weight: bold;
}
.meal_kit_text h2::after {
  content: "";
  display: block;
  width: 50%;
  padding: 0 0 10rem 0;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}
.meal_kit_text p {
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 0;
}
.store_imgs {
  vertical-align: top;
  width: 877px;
  height: 750px;
  overflow: hidden;
  position: relative;
}
.meal_kit_item h3 {
  font-size: 2rem;
  font-weight: bold;
}
.store_imgs img:nth-child(1) {
  margin: 0 33px 0 0;
}
.store_photo img:nth-child(1) {
  margin: 0 0 33px 0;
}
.store_cheese img:nth-child(1) {
  margin: 0 33px 0 0;
}
.store_cheese img:nth-child(2) {
  position: absolute;
}
.set_btn {
  width: 100%;
}
.set_btn button {
  background: var(--secondary-color);
  color: var(--bg-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0 0 20px 20px;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 0;
  box-sizing: border-box;
  transition: all 300ms;
}
.set_btn button:hover {
  background: var(--primary-color);
  border: 1px solid var(--bg-color);
}
/*---------------------------------------------- review */
.reniew_box {
  margin: 3rem 0 0 0;
}
.reniew_bg {
  background: var(--reniew_color);
  color: var(--bg-color);
  border-radius: 30px;
}
.review h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
}
/*---------------------------------------------- review_items */
.review_items {
  width: 100%;
}
.review_items div:nth-child(1) {
    margin: 0 0 0 4rem;
}
.review_items div:nth-last-child(1) {
    margin: 0 4rem 0 0;
}
.reiew_item {
  border-radius: 30px;
  width: 20%;
  height: 420px;
  overflow: hidden;
  position: relative;
}
.reiew_item img {
    width: 200%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.reiew_text {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: 100%;
    top: 75%;
    transition: all 300ms;
}
.reiew_item .on {
    top: 0%;
}
.reiew_text h3 {
    font-size: 1.5rem;
}
.reiew_text p {
    font-size: 1.25rem;
}
.reivew_btn button {
    margin: 4rem 0 0 0;
    background: var(--secondary-color);
    color: var(--bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0 0 20px 20px;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
    box-sizing: border-box;
    transition: all 300ms;
  }
  .reivew_btn button:hover {
    background: var(--primary-color);
    border: 1px solid var(--bg-color);
  }
/*---------------------------------------------- footer */
.footer {
  background: var(--footerbg-color);
  color: var(--bg-color);
  text-align: center;
  padding: 3rem 0;
  line-height: 2;
}

/*================================================ item */
.item_info {
  width: 620px;
  height: 822px;
  line-height: 3rem;
}
.item_info h2 {
  font-size: 2.25rem;
  font-weight: bold;
}
.quick button {
  height: 1.5rem;
}
#items {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.item_imgss_bg {
  background: #d2d2d2;
}
.item_imgss {
  margin: 0 2rem;
}
.item_btn {
  margin: 2rem 2rem 0 2rem;
}
.item_btn button {
  padding: 1rem 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  border: 3px solid var(--footerbg-color);
  border-radius: 10px;
}
.item_btn button:nth-child(1) {
  background: none;
  margin: 0 0 1rem 0;
}
.item_btn button:nth-child(2) {
  background: var(--secondary-color);
  color: var(--bg-color);
}
.item_btn button:hover {
  border: 3px solid var(--bg-color);
  color: var(--bg-color);
}
.naver {
  line-height: normal;
  margin: 2rem 0 0 0;
}
.naver > p {
  color: var(--bg-color);
  font-size: .8rem;
}
.naver_shop {
  display: flex;
  flex-direction: column;
}
.naver_shop button {
  background: none;
  margin: 0;
  padding: 0;
  width: 161px;
  height: 65px;
  border: none;
}
.naver_shop select {
  margin: 2rem 0 ;
  padding: .5rem 1rem;
  border-radius: 10px;
}
.item_tab {
  background: var(--nav-color);
  height: 1000px;
}
.tab_title {
  font-size: 2rem;
}
.tab_title ul li {
  width: 360px;
  text-align: center;
  background: var(--secondary-color);
  padding: 2rem 0;
  font-weight: bold;
}
.tab_title ul li:nth-child(1) {
  background: var(--reniew_color);
  color: var(--bg-color);
}

/* ========================================================cheese */
.cheese_bg {
  background: url(../images/cheese_bg.png) no-repeat center scroll;
  background-size: cover;
  height: 730px;
  position: relative;
}
.cheese_info {
  text-align: center;
  color: var(--bg-color);
}
/* ====================================cheese_tab */
.cheese_tabs_bg {
  border-radius: 100px;
  overflow: hidden;
  width: 450px;
  height: 86px;
  position: absolute;
  top: 100%;
  transform: translate(0, -50%);
}
.cheese_tabs {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.newnbest_title {
  background: var(--secondary-color);
  color: var(--bg-color);
  font-size: 2rem;
  width: 100%;
  height: 100%;
}
.newnbest_title li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
.newnbest_title > .on {
  background: #d1d1d1;
  color: var(--font-color);
  font-weight: bold;
}
/* =================================== cheese_container */
.cheese_container {
  margin: 8rem 0 0 0;
}
.cheese_contents li {
  text-align: center;
}
.cheese_contents img {
  border-radius: 10px;
  transition: all 300ms;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}
.cheese_contents img:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .6);
}
.cheese_contents li p {
  padding: 1rem 0;
}
hr {
  border: 1px solid var(--subfont-color);
  margin: 2rem 0;
}
.category_header h2 {
  font-size: 3rem;
  font-weight: bold;
}
.category_header > p {
  margin: 0 0 0 1rem;
  color: var(--subfont-color);
}
.category_item {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.ci_text {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 0;
  color: var(--bg-color);
  background: rgba(0, 0, 0, .6);
  top: 70%;
  transition: all 300ms;
}
.ci_text p:nth-child(1) {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.5rem;
}
.ci_text p:nth-child(2) {
  font-size: 1.25rem;
  margin: 1rem;
}
.ci_text i {
  font-size: 3rem;
  margin: 7rem 0 0 0;
  padding: .5rem;
  box-sizing: border-box;
}
.cheese_info h2 {
  font-size: 3rem;
  font-weight: bold;
}
.cheese_info h3 {
  font-family: 'My Soul', cursive;
  font-size: 6rem;
}
.cheese_info p {
  font-size: 2rem;
  font-weight: bold;
}
.cheese_info {
  line-height: 1.2;
  padding: 3rem 0 0 0;
}

form {
  display: none;
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 190%;
  z-index: 100;
}
.select_window {
  font-size: 1.2rem;
  padding: 0 0 0 1rem;
  width: 90%;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #333;
}
.m_search_btn {
  background: none;
  border: none;
  font-size: 1.5rem;
}